# Node
node_modules/

# Env
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Tests
/coverage

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build
/dist

# Uploads y archivos temporales
uploads/
*.tmp

# Otros
*.swp
*.swo

# Ignore archivos generados por herramientas
*.bak

# Excluir dependencias y archivos sensibles
package-lock.json
